body{
  background-color:rgba(0,0,0,0)
}
html {
  font-family:Arial, Helvetica, sans-serif;
  /* color: #fff; */
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image:url('../../images/bg.png');
  transition: 0.05s background-image ease-in;
}
/* @font-face
{
    font-family: INFO56_0;
    src: url("../../fonts/INFO56_0.ttf");
}  
  
@font-face
{
    font-family: computer_pixel-7;
    src: url("../fonts/computer_pixel-7.ttf");
} */


/*flex-boxes*/


.item {
}
/************/
/* #cubes{
  display:none;
display:inline;
position:absolute;
background-image:url('../images/bgAnim6.gif');
height:435px;
width:756px;
top:85px;
left:340px;
transition:fade-out 1s;
transform: rotate(90deg);} */
#mapFrame {

    position:absolute;
    display: inline;
    background-image:url('../../images/mapFrame.png');
    top:62px;
    left:319px;
    height: 544px;
    width:862px;
    z-index:200;
    padding-top:0px;
    padding-left:0px;
    margin-top:0px;
    margin-right:0px;
    background-repeat:no-repeat;
}

#left-panel{
    margin:20px;
    width:242px;
    height: 467px;
    position: relative;
    background-image: url("../../images/bg2.png");
    background-repeat: no-repeat;
    top:43px;
    left:0px;
}

#middle-panel{
margin-left:360px;
min-width:700px;
padding-right:0px;
padding-left:100px;
}
span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;

  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}





#output{
 top: -536px;
 height:0px;
 line-height:0px;
 position:relative;
 text-align:center;
 left: -200px;
 color:#f5e1e1;
 margin-left: 0px auto;
 font-size: 85px;
 z-index:300;
}
#output2
{
    position:relative;
    top:-68px;
font-family: Arial, Helvetica, sans-serif;
font-size:39px;
left:0px;
width:640px;
z-index: 600;}
img
{
  margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*BUTTONS*/

button
{
  height: 59px;
  width: 59px;
 border:0px; 
  font-size: 20px;
  color:#eae2a9;
 outline:none;
 -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color:transparent;

 /* background-image:url('../../images/btnBg1.png'); */
	
}
button:hover{
    /* background-image:url('../../images/btnBg3.png'); */
}
#fwdBtn{
  position:relative;
     
 outline:none;
    left:-13px;
    top:352px;
    animation: delay-fade-in 1s;

  }


#bckBtn{
    display:none;
  position:relative;
    left:-71px;
    top:293px;

}

#play {
  display:none;
  position:relative;
  top:234px;
  left:38px;
z-index:20;
background-image:url('../../images/btnBg2.png');
}



/**STATUE STUFF*/

#shield-holder{

    position:absolute;
    width:257px;
    height:420px;
    background-image:url("../../images/dealbh.png");
    bottom:27px;
    left:-52px;
    z-index:10;
}

#bearla{
    position:absolute;
    color:black;
    font-size: 36px;
    text-align:center;
    top: 134px;
    left:-41px;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
}

#badge{
    position:absolute;
    top:90px;
    left:158px;
    background-image:url("../../images/badges.png");
    z-index:20;
    opacity:1;
    width:80px;
    height:80px

}


/*PLAYER INPUT ELEMENTS*/


#inputElements
{
  display: none;  
  position: relative;
  bottom: -250px;
  left: 0px;
  width: 260px;
  height:50px;
  padding: 2px 2px 2px 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  z-index: 100;



}









@media screen and (orientation:landscape) {
  #output2
  {
      position:relative;
      top:17% !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size:3em;
    color:gainsboro;  
  left:18% !important;
  width:640px;
  z-index: 600;
}
  img
  {
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
  }
  #output {
    top: 9%;
    height: 0px;
    line-height: 0px;
    position: relative;
    text-align: center;
    left: -15%;
    color: #f5f5f5;
    margin-left: 0px auto;
    font-size: 2em;
    z-index: 300;
  }

  #left-panel{
    margin:34px;
    width:242px;
    height: 467px;
    position: fixed;
    background-image: url("../../images/bg2.png");
    background-repeat: no-repeat;
    top:-22%;
    left:-7%;
    zoom:1.5;
  }
  #mapFrame {
    position:fixed;
    /* display: inline; */
    background-image:url('../../images/mapFrame-portrait.png');
    top:0%;
    left:0%;
    z-index:0;
    padding-top:0px;
    padding-left:0px;
    margin-right:0px;
    height:100%;
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;
  }
  #bearla{
    position:absolute;
    color:black;
    font-size: 1em;
    text-align:center;
    top: 62%;
    left:45%;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
  }

  #middle-panel{
    position:fixed;
    top:0%;
    left:33%;
    margin-left:0%;
    height:100%;
  z-index:0;
    width:100% !important;
    /* border:6px solid blue; */
    padding-right:0%;
    padding-left:0%;
    }

  #fwdBtn{
    position:fixed;
       
   outline:none;
      left:0%;
      top:65%;
      animation: delay-fade-in 1s;
     }
  
  
  #bckBtn{
    position:fixed;
      display:none;
      left:80%;
      top:65%;
  }

}
@media screen and (orientation:portrait) {
  #mapFrame{
    position:fixed;
    z-index:0 !important;
  }
  .dm-says{
    position:fixed;
    align-content: center;
    text-align: center;
    top:0% !important;
    left:38% !important;
    z-index:5000;
  }
  
  .dm-output
  {
      position:fixed;
      top:6% !important;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size:2em;
    color:gainsboro;  
  left:38% !important;
  /* width:640px; */
  /* z-index: 600; */
}

  
  #output2
  {
      position:relative;
      top:17% !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size:5em;
    color:gainsboro;
  left:20% !important;
  width:640px;
  z-index: 600;
}
  img
  {
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
  }
  #output {
    top: 9%;
    height: 0px;
    line-height: 0px;
    position: relative;
    text-align: center;
    left: 0%;
    color: #f5f5f5;
    margin-left: 0px auto;
    font-size: 85px;
    z-index: 300;
  }

  #left-panel, #fwdBtn, #bckBtn{

    background-repeat: no-repeat;
    top:14%;
    left:9%;
    zoom:1;
  }
  #left-panel{
   opacity:0.3;
    margin:34px;
    width:242px;
    height: 467px;
    position: fixed;
    background-image: url("../../images/bg2.png");

  }
  #mapFrame {
    position:fixed;
    /* display: inline; */
    background-image:url('../../images/mapFrame-portrait.png');
    top:0%;
    left:0%;
    z-index:0;
    padding-top:0px;
    padding-left:0px;
    margin-right:0px;
    height:100%;
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;
  }
  
  #bearla{
    position:absolute;
    color:black;
    font-size: 1em;
    text-align:center;
    top: 62%;
    left:45%;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
  }

  #middle-panel{
    position:fixed;
    top:0%;
    left:0%;
    margin-left:0%;
    height:100%;
  z-index:0;
    width:100%;
    /* border:3px solid orange; */
    padding-right:0%;
    padding-left:0%;
    }

  #fwdBtn{
    position:fixed;
       
   outline:none;
      left:44%;
      top:90%;
      animation: delay-fade-in 1s;
        /* border:3px solid green; */
      z-index:5000 !important; 
    }
  
  
  #bckBtn{
    position:fixed;
      display:none;
      left:80%;
      top:65%;
  }
}

 .fadeText{
animation: fade-in 2s;
 } 

@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}

@keyframes fade-in{
0% {opacity:0;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}

 100%{opacity:0;} 

}

@keyframes slide-button-right{
    0%{left:-13px;}
    100%{left: 37px;}
    
}
@keyframes slide-button-right-landscape{
  0%{left:-13px;}
  100%{left: 40%;}
  
}
@keyframes slide-button-left{
    0%{left:37px;}
    100%{left: -13px;}
} 

@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}

@keyframes dim {
0%{opacity: 1;}
130%{opacity:0.25;}
}