

html
{
  font-family: computer_pixel-7;
  color: #fff;  
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image:url('../../images/bg.png');
 transition: 1s background-image ease-out;
}

@font-face
{
    font-family: INFO56_0;
    src: url("./INFO56_0.ttf");
}  
@font-face
{
    font-family: myFirstFont;
    src: url("./myFirstFont.ttf");
}  
  
@font-face
{
    font-family: computer_pixel-7;
    src: url("./computer_pixel-7.ttf");
}


/*flex-boxes*/


.item {
}
/************/






#mapFrame{
    position:absolute;
    display:inline;
    background-image:url('../../images/mapFrame.png');
    top:36px;
    left:339px;
    height:544px;
    width:862px;
    z-index:1;
    padding-left:0px;
    padding-top:0px;
    margin-top:0px;
    margin-right:0px;
    background-repeat:no-repeat;


}   
#geagaCanvas{
padding-top:46px;
padding-left:340px;}

span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: computer_pixel-7;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;

  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}
#title:hover{
}


{
  font-size: 14px;
}

#súile{
   position:absolute;
    width:170px;
    height:85px;
    background-image:url("../../images/suile.png");
    bottom:339px;
    right:174px;
    z-index:900;
opacity:1;
            


}
#deirGeaga1{
 top:20px;
 left:20px;
 height:0px;
 line-height:0px;
 postion:relative;
 text-align:center;
font-family: computer_pixel-7;
z-index:600;
 color:#730a0a;
 margin: 0px;
 font-size: 85px;
}
#deirGeaga2
{
    position:absolute;
    top:211px;
    left:532px;
    margin:0px auto;
margin-top: 0px;
font-size:39px;
z-index:600;
    width:380px;

}

img
{
  margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*BUTTONS*/

button
{
  height: 59px;
  width: 59px;
  
  font-size: 20px;
  color: #fff;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

	background-color:transparent;
    border:none;
    outline:none;

z-index:901;
    background-image:url('../../images/btnBg1.png');
}
#btnTalk{
  position:absolute;
    left:101px;
    top:22px;
    animation:fade-in 0.5s;
    display:none;
z-index:901;
        }
button:hover{
    background-image:url('../../images/btnBg3.png');
}


#bckBtn{
    display:none;
position:relative;
top:22px;
    left:-37px;
    z-index:899;
    animation:fade-in 0.5s;
}
#fwdBtn{display:none;
position:absolute;
top: 22px;
 left:171px;
 z-index:898;

    animation:fade-in 0.5s;
	

    }

#leavePanel{
 display:none;
    position:absolute;
height:251px;
width:557px;
left:473px;
top:140px;
z-index:300;
background-image:url('../../images/geagaFrame.png');
}
#leaveOptions{
    position:absolute;
    display:none;
    height:200;
    width:200;
    left:0px;
z-index:500;
    top:0px;
}
#leave{
    position:relative;
    top:131px;
    left:206px;
}

#leaveTxt{
    position:relative;
    font-size:39px;
    top:60px;
    left:160px;
}
#noLeave{
    position:relative;
    top:131px;
    left:240px;
}


#play {
  display:none;
  position:relative;
  background-color: #207720;
  top:234px;
  left:38px;
z-index:20;	
}

#allChat{
    display:none;
}
#playerPortrait{
    position:absolute;
    background-image:url('../../images/imreoir.gif');
    top:461px;
    left:866px;
    height:156px;
    width:111px;
    z-index:301;
}
#chatPanel{
    position:absolute;
    background-image:url('../../images/geagaFrame.png');
    top:150px;
    left:461px;
    height:253px;
    width:557px;
}
#geaga{
    opacity:1;
    position:absolute;
    width:441px;
    height:621px;
    background-image:url("../../images/geaga5.png");
    bottom:-127px;
    right:-1077px;
    z-index:300;
   background-repeat:no-repeat; 
}

#deetsFrame{
position:relative;
background-image:url("../../images/deetsFrame.png");
top:-540px;
right:410px;
width:350px;
height:352px;
background-repeat:no-repeat;
z-index:2;
}


/**STATUE STUFF*/

#shield-holder{

    position:absolute;
    width:257px;
    height:420px;
    background-image:url("../../images/dealbh.png");
    bottom:-63px;
    left:-52px;
    z-index:10;
}

#bearla{
    position:absolute;
    color:black;
    font-size: 36px;
    text-align:center;
    top: 134px;
    left:-41px;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
    font-family:computer_pixel-7; 
}

#badge{
    position:absolute;
    top:90px;
    left:158px;
    background-image:url("../../images/badges.png");
    z-index:20;
    opacity:1;
    width:80px;
    height:80px


}


/*PLAYER INPUT ELEMENTS*/


#inputElements
{
  position: relative;
  bottom:-250px;
  left: 0px;
  width: 260px;
  height:50px;
  padding: 2px 2px 2px 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  z-index: 100;

}






/*
 naContae css imported 
  */


#naContaeResources{

    top:-418px;
    left:0px;
    position:absolute;
    display:none;
}

input,textarea{
    font-size:40px;
    padding:5px;
    color: green;
    font-family: INFO56_0;

z-index:500;  
}

#emblem{

opacity:0;
    position:absolute;
    top:1px;
    left:5px;
    background-image:url("../../images/emblem.gif");
 background-repeat:no-repeat;   
    width:403px;
    height:306px;
 transition: 2s background-image ease-out;
}

#langLevel{
top:400px;
left:0px;

}
/*flex-boxes*/

.item {

}
/************/


/*PANELS*/

#left-panel
{
  margin:20px;
  width: 242px;
  height: 467px;
  position: relative;
  background-image: url("../../images/bg2.png");
  background-repeat: no-repeat;
 top:-11px;
left:0px; 
}

#middle-panel{

    margin-left:360px;
    min-width:700px;
padding-right: 0px;
padding-left: 0px;
}

span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: computer_pixel-7;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;
  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}
#title:hover{
}


{
  font-size: 14px;
}


#output{
    top:-32px;
    left:-50px;
    height:0px;
    line-height:0px;
    position:relative;
    text-align: center;
    color:#730a0a;
    margin-left: 0px auto;
    font-size: 85px;
    z-index: 300; 

}
#output2
{
    position:relative;
    top:-7px;
    left:36px;
    font-family: INFO56_0;
    margin: 0px auto;
    margin-top: 16px;
    font-size: 39px;
    z-index:500;
}
#inputElements
{ opacity:0;
  position:absolute;
  bottom: 260px;
  left: 349px;
  width: 260px;
  height:50px;

}
#ctrlsFrame{
    display:none;
    position:absolute;
    top:450px;
    left:-8px;
    width:260px;
    height:101px;
    z-index:20;
    animation:fade-in 0.3s;
    background-image:url('../../images/ctrlsFrame.png');
}

#mainText{
    position:absolute;
    top:3px;
    left: 450px;
    width: 800px;
}

#inputName{
margin:20px;
position:relative;
display:inline;
left:94px;
top:80px;
width: 300px;
height:50px;
background:rgba(5,5,5,.85);
  opacity:1;
}

#inputLabel{
margin:20px;
position:relative;
    display:inline;
    width:300px;
    text-align:center;
    font-family:INFO56_0;
    font-size:40px;
    top:110px;
    left:164px;
    z-index:500;
  opacity:1;
  color:#51bd4f;
}

#ainmBtn{
margin:20px;
position:relative;
display:none;
font-size:46;
text-align:center;
top:0px;
left:81px;
opacity:1;
z-index:900;
color:#51bd4f;
}


img
{
  margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*BUTTONS*/



#play {
  display:none;
  background-color: #207720;
  top:460px;
  left: 176px;
	
}


#btnLvL { 
  position:relative;
 display:none;
 top:57px;
  left:-12px;
  height: 60px;
  width: 60px;
  border:0px;
}
#btnLvR {
    position:relative;
  display:none;
  top:57px;
  left: 640px;
  height: 60px;
  width: 60px;
  border:0px;
}

#levelSelect{
display:none;
position:relative;
color:#ffe959;
font-size:46;
text-align:center;
top:8px;
left:363px;



}
#countyBtnLeft {
  position:relative;
  display:none;
  top:49px;
  left:-226px;
  height: 60px;
  width: 60px;
 z-index:500;
}
#countyBtnRight {
    position:relative;
  display:none;
  top:49px;
  left:428px;
  height: 60px;
  width: 60px;
  z-index:500;
}

#tidyBox1{
  position:absolute;  
  background-color:rgba(255,255,255,0.25);
  width:547px;
  border: 5px solid;
  border-radius: 20px;
  border-color:#033508;
  height:300px;
  left:469px;
  top:81px;
 transition: 1s background-image ease-out;
 
}
#bearla{
    position:absolute;
    color:black;
    font-size: 36px;
    text-align:center;
    top: 134px;
    left:-41px;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
}
/*PLAYER INPUT ELEMENTS*/

#portrait {
    position:absolute;
    margin:0px;
    padding:0px;
    width:111px;
    height:156px;
    left:141px;
    top:-32px;
    background-image:url("../../images/imreoir.gif");
    z-index:32;
  opacity:1;
}
/*
#pName{
    display:none;
    position:absolute;
    color:green;
    font-size: 46px;
    text-align:center;
    top: 334px;
    left:479px;
    width: 333px;
    z-index:32;
    background:black;
    border: 5px solid gray;
}
*/

#joinTeam{
  display:none;
  top:242px;
  left:140px;
	
}




::placeholder{
   color:green;
  font-size: 35px; 
 font-family: INFO56_0;
 text-align:center;
}



#location{
    position: absolute;
    bottom:158px;
    left: 22px;
    opacity: 0;
}
#shield-holder{
    position:absolute;
    width:257px;
    height:420px;
    background-image:url("../../images/dealbh.png");
    bottom: 25px;
    left:-53px;
    z-index:10;
}

#imreoirWLv{
    position:relative;
    top:-71px;
    left:285px;
    height:175px;
    width:175px;
    z-index:32;
    background-image:url("../../images/imreoir5.png");
}
#countyColours {
    position:absolute;
    top:139px;
    left:538px;
    background-image:url("../../images/countyColours.png");
    opacity:0.7;
    width:403px;
    height:306px;
    z-index: 3;
}
#countyMain {
    position:absolute;
    top:139px;
    left:538px;
    background-image:url("../../images/countyMain.png");
    opacity:1;
    width:403px;
    z-index:2;
    height:306px;

}

#countyMain:hover{
     
    animation: fade-out 1s forwards;

}
#badge{
    position:absolute;
    top:90px;
    left:158px;
    background-image:url("../../images/badges.png");
    z-index: 20;
    opacity:1;
    width:80px;
    height:80px;
}

#contae{
    position:relative;
    text-align: center;
    width: 601px;
    left:-28px;
    padding-left:0px; 
    font-family:INFO56_0;
    bottom: 52px;
    font-size:40px;
    z-index:500;
}

.item{
}





 .fadeText{
animation: fade-in 2s;
 } 


@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}


@keyframes delay-fade-out{
    0% {opacity:1;}
    75%{opacity:1;}
    100%{opacity:0.2;}

}

@keyframes fade-in{
0% {opacity:0;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}

 100%{opacity:0;} 

}

@keyframes slide-button-right{
    0%{left:163px;}
    100%{left: 229px;}
    
}
@keyframes slide-button-left{
    0%{left:203px;}
    100%{left: 163px;}
} 
@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}

@keyframes dim {
0%{opacity: 1;}
100%{opacity:0.25;}































 .fadeText{
animation: fade-in 2s;
 } 

@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}

@keyframes fade-in{
0% {opacity:0.2;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}

 100%{opacity:0;} 

}

@keyframes slide-button-right{
    0%{left:-42px;}
    100%{left: 37px;}
    
}
@keyframes slide-button-left{
    0%{left:37px;}
    100%{left: -42px;}
} 
@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}
@keyframes look-up{
0%{
    bottom:110px;
    right:-870px;}
100%{bottom:130px;
    right:-874px;    
}}
@keyframes look-down{
0%{
    bottom:130px;
    right:-874px;}
100%{bottom:110px;
    right:-870px;    
}
}
@keyframes dim {
0%{opacity: 1;}
100%{opacity:0.25;}
