
html {
  font-family: INFO56_0;
  color: #fff;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image:url('../../images/bg.png');
  transition: 0.05s background-image ease-in;
}
@font-face
{
    font-family: INFO56_0;
    src: url("./INFO56_0.ttf");
}  
@font-face
{
    font-family: myFirstFont;
    src: url("./myFirstFont.ttf");
}  
  
@font-face
{
    font-family: computer_pixel-7;
    src: url("./computer_pixel-7.ttf");
}


/*flex-boxes*/


.item {
}
/************/



#left-panel{
    margin:20px;
    width:202px;
    height: 423px;
    position: relative;
    background-image: url("");
    background-repeat: no-repeat;
}

#middle-panel{
margin-left:260px;
min-width:700px;
padding-right:0px;
padding-left:100px;
top:0px;
left:0px;
}


#mapFrame{
    position:absolute;
    display:inline;
    background-image:url('../../images/mapFrame.png');
    top:36px;
    left:339px;
    height:544px;
    width:862px;
    z-index:200;
    padding-left:0px;
    padding-top:0px;
    margin-top:0px;
    margin-right:0px;
    background-repeat:no-repeat;


}   
#geagaCanvas{
padding-top:46px;
}
span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: computer_pixel-7;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;

  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}
#title:hover{
}


{
  font-size: 14px;
}

#súile{
   position:absolute;
    width:170px;
    height:85px;
    background-image:url("../../images/suile.png");
    bottom:130px;
    right:-874px;
    z-index:900;
opacity:1;
            


}
#deirGeaga1{
 top:20px;
 left:20px;
 height:0px;
 line-height:0px;
 position:relative;
 text-align:center;
font-family: computer_pixel-7;
z-index:600;
 color:#730a0a;
 margin: 0px;
 font-size: 85px;
}
#deirGeaga2
{
    position:absolute;
    top:211px;
    left:532px;
    margin:0px auto;
margin-top: 0px;
font-size:39px;
z-index:600;
    width:380px;

}

img
{
  margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*BUTTONS*/

button
{
  height: 59px;
  width: 59px;
  
  font-size: 20px;
  color: #fff;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

	background-color:transparent;
    border:none;
    outline:none;

    background-image:url('../../images/btnBg1.png');
}
#btnTalk{
  position:relative;
    left:-13px;
    top:335px;
    animation:fade-in 0.5s;
    display:none;
        }
button:hover{
    background-image:url('../../images/btnBg3.png');
}

#bckBtn{
    display:none;
  position:relative;
    left:-122px;
    top:307px;

}
#leavePanel{
 display:none;
    position:absolute;
height:251px;
width:557px;
left:473px;
top:140px;
z-index:300;
background-image:url('../../images/geagaFrame.png');
}
#leaveOptions{
    position:absolute;
    display:none;
    height:200;
    width:200;
    left:0px;
z-index:500;
    top:0px;
}
#leave{
    position:relative;
    top:131px;
    left:206px;
}

#leaveTxt{
    position:relative;
    font-size:39px;
    top:60px;
    left:160px;
}
#noLeave{
    position:relative;
    top:131px;
    left:240px;
}


#play {
  display:none;
  position:relative;
  background-color: #207720;
  top:234px;
  left:38px;
z-index:20;	
}

#allChat{
    display:none;
}
#playerPortrait{
    position:absolute;
    background-image:url('../../images/imreoir.gif');
    top:461px;
    left:866px;
    height:156px;
    width:111px;
    z-index:301;
}
#chatPanel{
    position:absolute;
    background-image:url('../../images/geagaFrame.png');
    top:150px;
    left:461px;
    height:253px;
    width:557px;
    animation:delay-fade-in 3s;
}
#geaga{
    opacity:1;
    position:absolute;
    width:441px;
    height:621px;
    background-image:url("../../images/geaga5.png");
    bottom:-243px;
    right:-1015px;
    z-index:300;
   background-repeat:no-repeat; 
}

#deetsFrame{
position:relative;
background-image:url("../../images/deetsFrame.png");
top:-540px;
right:410px;
width:350px;
height:352px;
background-repeat:no-repeat;
z-index:2;
}


/**STATUE STUFF*/

#shield-holder{

    position:absolute;
    width:257px;
    height:420px;
    background-image:url("../../images/dealbh.png");
    bottom:-63px;
    left:-52px;
    z-index:10;
}

#bearla{
    position:absolute;
    color:black;
    font-size: 36px;
    text-align:center;
    top: 134px;
    left:-41px;
    width: 115px;
    z-index:32;
    line-height: 27px;
    word-spacing:-1px;
    font-family:computer_pixel-7; 
}

#badge{
    position:absolute;
    top:90px;
    left:158px;
    background-image:url("../../images/badges.png");
    z-index:20;
    opacity:1;
    width:80px;
    height:80px


}


/*PLAYER INPUT ELEMENTS*/


#inputElements
{
  display: none;  
  position: relative;
  bottom: -250px;
  left: 0px;
  width: 260px;
  height:50px;
  padding: 2px 2px 2px 5px;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  z-index: 100;

}









 .fadeText{
animation: fade-in 2s;
 } 

@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}

@keyframes fade-in{
0% {opacity:0.2;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}

 100%{opacity:0;} 

}

@keyframes slide-button-right{
    0%{left:-42px;}
    100%{left: 37px;}
    
}
@keyframes slide-button-left{
    0%{left:37px;}
    100%{left: -42px;}
} 
@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}
@keyframes look-up{
0%{
    bottom:110px;
    right:-870px;}
100%{bottom:130px;
    right:-874px;    
}}
@keyframes look-down{
0%{
    bottom:130px;
    right:-874px;}
100%{bottom:110px;
    right:-870px;    
}
}
@keyframes dim {
0%{opacity: 1;}
100%{opacity:0.25;}
