html
{
   font-family: computer_pixel-7;
  color: #fff;  
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  background-image:url('../images/bg.png');

}

@font-face 
{
  font-family: INFO56_0;
  src: url("../fonts/INFO56_0.ttf");
}


@font-face 
{
  font-family: computer_pixel-7;
  src: url("../fonts/computer_pixel-7.ttf");
}

/*flex-boxes*/

.parent
{
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    align-content:center;
    justify-content: space-between;
}

.item {

}
/************/

span.withTitle {
    font-size: 30px;
}

h1
{
  text-align: center;
  font-family: computer_pixel-7;
  font-size: 80px;
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: normal;
  margin-bottom:0px ;
  margin-top:0px;
}




#alt-title{
  opacity:0;
    
}
#title:hover{
}


{
  font-size: 14px;
}


#output{
  text-align: center;
  color:#d7d7d7;
  margin: 0px auto;
  font-size: 90px;
   
  }
#output2
{
 font-family: INFO56_0;
  margin: 0px auto;
  margin-top: 16px;
  font-size: 60px;
}

#mainText{
    position:absolute;
    top:3px;
    left: 450px;
    width: 800px;
}


img
{
  margin: 0px auto;
  display: block;
  margin-bottom: 20px;
}
/*
input
{
  
  position: absolute;
  bottom: 50px;
  left: 435px;
  width: 260px;
  padding: 2px 2px 2px 5px;
  border: 1px solid black;
  background-color: rgba(255,255,255,0.3);
  -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
*/

/*BUTTONS*/

button
{
  background-color: #505050;
  position: absolute;
  top:526px;
  left: 163px;
  height: 70px;
  width: 120px;
  
  font-family: computer_pixel-7  ;
  font-size: 50px;
  color: #fff;
  border: 1px solid #000;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

/*	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	

	-webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
*/	
}

#fwdBtn{
animation: delay-fade-in 3s;
	

    }




#bckBtn{
    display:none;
    left:80px;
}

#play {
  display:none;
  background-color: green;
  top:480px;
  left: 176px;
	
}

#noPlay {
  display:none;
  background-color: red;
  top:578px;
  left: 176px;
 
}
#countyBtnLeft {
  display:none;
  top:73px;
  left: 54px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
 background-color: green;
}
#countyBtnRight {
  display:none;
  top:73px;
  left: 249px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color:green;
}


#bearla{
    position:absolute;
    color:black;
    font-size: 36px;
    text-align:left;
    top: 139px;
    left:-38px;
    width: 123px;
    z-index:32;
    line-height: 31px;
    word-spacing:-1px;
}



/*PANELS*/

#left-panel
{
  margin-left:15px;
  margin-top:15px;
  width: 350px;
  height: 423px;
  position: relative;
  background-image: url("../images/bg2.png");
  background-repeat: no-repeat;
  border:25px solid gray;
  
}

#middle-panel{
padding-right: 20px;
padding-left: 40px;
}

#right-panel
{
    display: none;
    margin-right:15px;
    margin-top:15px;
    width:350px;
    height:423px;
    position: relative;
    background-image: url("../images/bg2.png");
    background-repeat: no-repeat;
    border:25px solid gray;
}

#location{
    position: absolute;
    bottom:158px;
    left: 22px;
    opacity: 0;
}
#shield-holder{
    position:absolute;
    width:257px;
    height:420px;
    background-image:url("../images/dealbh.png");
    bottom: 6px;
    left:4px;
    z-index:10;
}

#badge{
    position:absolute;
    top:90px;
    left:158px;
    background-image:url("../images/badges.png");
    z-index: 20;
    opacity:1;
    width:80px;
    height:80px;
}

#contae{
    position:absolute;
    text-align: center;
    width: 300px;
    left:-57px;
    padding-left:0px; 
    font-family:INFO56_0;
    bottom: -13px;
    font-size:25px;
}

.item{
}





 .fadeText{
animation: fade-in 2s;
 } 


/**
 TILEWORLD DATA
  **/
#tileworld{
    display: none;
}
#mapdata {
    display: none;
}
#viewport {
    background-color: blue;
    opacity: 0.1;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
    width: 10px;
    height: 10px;
}
.tile {
    width:32px; 
    height:32px;
    background-image: url("../images/tileset2.png");
    position: absolute;

}
#grid {
    position: absolute;
}

#player{
    position: absolute;            
    height: 49px;
    width: 32px;
    background-image: url("../images/player.png");
    z-index: 50;
}
#inventory{
}
#inventory>*{
    position: absolute;
}


@keyframes delay-fade-in{
    0% {opacity:0;}
    75%{opacity:0;}
    100%{opacity:1;}

}

@keyframes fade-in{
0% {opacity:0;}

100% {opacity:1;} 
}
@keyframes fade-out{
0%{opacity:1;}
/*
 99%{opacity:0;}
 100%{display:none;} */

 100%{opacity:none;} 

}

@keyframes slide-button-right{
    0%{left:163px;}
    100%{left: 229px;}
    
}
@keyframes slide-button-left{
    0%{left:203px;}
    100%{left: 163px;}
} 
@keyframes county-select-mode{
0%{opacity: 0;}
100%{opacity:1;}
}
